

#logo {
    height: 100px;
    border-radius: 50px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    background-color:transparent;
}
.image{
    height: 200px;

}
.jumbotron{
    width: 50%;
    background-color: transparent !important;
    position: absolute;
    right: 35%;
    transform: scaleX(0.75);
}
.jo{
    border-radius: 30px;
    height: 200px;
    
}